.site-list
	outline: 1px solid yellow
	min-height: 250px

@media (min-width: $tablet-width)
	.site-list
		width: 560px
		min-height: 72px

@media (min-width: $desktop-width)
	.site-list
		width: 800px